<%
  conversation_layout ||= false
  active_conversation ||= false
  html_classes = %w[govuk-template govuk-template--rebranded]
  html_classes << yield(:html_class)
  html_classes << "app-conversation-layout" if conversation_layout
  body_classes = %w[govuk-template__body]
  body_classes << "app-conversation-layout__body" if conversation_layout
  body_classes << yield(:body_class)
  main_classes = %w[govuk-main-wrapper]
  main_classes << yield(:main_class)
  browser_title = (content_for?(:browser_title) ? yield(:browser_title) : yield(:title)).presence
  page_title = (content_for?(:page_title) ? yield(:page_title) : yield(:title)).presence
%>
<!DOCTYPE html>
<%= tag.html(class: html_classes, lang: "en") do %>
  <head>
    <%= action_cable_meta_tag %>
    <meta charset="utf-8">
    <title><%= browser_title %><%= browser_title ? " - " : "" %>GOV.UK Chat</title>

    <%# Used for Google Analytics 4 debugging. Must be placed before load-analytics script. %>
    <meta name="govuk:components_gem_version" content="<%= GovukPublishingComponents::VERSION %>">
    <%= javascript_include_tag "analytics", nonce: true %>

    <%= stylesheet_link_tag "application", media: "all" %>

    <link rel="icon" sizes="48x48" href="<%= asset_path "favicon.ico" %>">
    <link rel="icon" sizes="any" href="<%= asset_path "favicon.svg" %>" type="image/svg+xml">
    <link rel="mask-icon" href="<%= asset_path "govuk-icon-mask.svg" %>" color="#0b0c0c">
    <link rel="apple-touch-icon" href="<%= asset_path "govuk-icon-180.png" %>">

    <meta name="theme-color" content="#0b0c0c">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content">
    <meta property="og:image" content="<%= asset_url("govuk-opengraph-image.png", host: Plek.website_root) %>">
  </head>
  <%= tag.body(class: body_classes) do %>
    <script type="module" nonce="<%= request.content_security_policy_nonce %>">
      document.body.className += ' js-enabled govuk-frontend-supported';
    </script>
    <%= render "govuk_publishing_components/components/cookie_banner", {} %>
    <%= render "govuk_publishing_components/components/skip_link", {
      href: "#content",
    } %>

    <%= render "components/chat_header", {
      conversation: conversation_layout,
      active_conversation:,
    } %>

    <% if conversation_layout %>
      <%= yield(:content) %>
    <% else %>
      <%= tag.main(class: main_classes, id: "content", role: "main") do %>
        <div class="govuk-width-container">
          <%= yield(:back_link) %>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <% if content_for?(:error_summary) %>
                <%= yield(:error_summary) %>
              <% end %>
            </div>
          </div>
        </div>

        <% if page_title %>
          <div class="govuk-width-container">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <%= render "govuk_publishing_components/components/heading", {
                  text: page_title,
                  font_size: "xl",
                  heading_level: 1,
                } %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="govuk-width-container">
          <%= yield %>
        </div>
      <% end %>

      <%= render "govuk_publishing_components/components/layout_footer" %>
    <% end %>

    <%= javascript_include_tag "application", type: "module", nonce: true %>
  <% end %>
<% end %>
